---
import Layout from "../../layouts/Layout.astro";

const { title } = Astro.props;
import { getCollection } from "astro:content";
const allMembers = await getCollection("members");
---

<Layout title={title}>
    <h1 class="title is-1">Members</h1>
    <ul>
        {
            allMembers.map((member) => (
                <li>
                    <a href={`/members/${member.slug}`}>{member.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
