---
import SubPage from "../../layouts/SubPage.astro";

const { title } = Astro.props;
import { getCollection } from "astro:content";
const pages = await getCollection("members");
---

<SubPage title={title}>
    <h1 class="title is-1">Members</h1>
    <ul>
        {
            pages.map((page) => (
                <li>
                    <a href={`/members/${page.slug}`}>{page.data.title}</a>
                </li>
            ))
        }
    </ul>
</SubPage>
