{% extends 'layouts/base.njk' %}

{% block content %}

<section class="hero is-fullheight-with-navbar is-transparent">
  <div class="hero-body">
    <div class="container">
        {{ content | safe }}
    </div>
  </div>
</section>

{% endblock content %}