---
import HomePage from "../layouts/HomePage.astro";
import HeroButton from "../components/HeroButton.astro";
import HeroButtonHolder from "../components/HeroButtonHolder.astro";
import HeroText from '../components/HeroText.astro';
---

<HomePage title="Code and Coffee">
    <div class="logo-holder" style="padding:3ch;  text-align: center;">
        <img src="/logo.svg" style="max-width: 50%;" alt="code+coffee logo" />
    </div>
    
    <img src="/logotype.svg" style="max-width: 100%;" alt="code+coffee logo" />
    <HeroButtonHolder>
        <HeroButton type="discord"> Discord </HeroButton>
        <HeroButton type="meetup"> Meetup.com </HeroButton>
    </HeroButtonHolder>
    <HeroText>
            We're a community bringing together programmers a casual environment to share, collaborate,
            and hack together.
            <p>
                Weekly online meetings Saturdays 10:30am on Discord.
            </p>

            <p>
                In-person meetups at least monlthy, see Meetup.com for details.
            </p>
    </HeroText>

</HomePage>

<style></style>
