---
import HomePage from "../layouts/HomePage.astro";
import HeroButton from "../components/HeroButton.astro";
import HeroButtonHolder from "../components/HeroButtonHolder.astro";
import HeroText from '../components/HeroText.astro';

import { DISCORD_INVITE_LINK, MEETUP_PAGE_LINK } from "../constants";
---

<HomePage title="Code and Coffee">
    <div class="logo-holder" style="padding:3ch;  text-align: center;">
        <img src="/logo.svg" style="max-width: 50%;" alt="code+coffee logo" />
    </div>
    
    <img src="/logotype.svg" style="max-width: 100%;" alt="code+coffee logo" />
    <HeroButtonHolder>
        <HeroButton type="discord" url={DISCORD_INVITE_LINK}> Discord </HeroButton>
        <HeroButton type="meetup" url={MEETUP_PAGE_LINK}> Meetup.com </HeroButton>
    </HeroButtonHolder>
    <HeroText>
            We're a community bringing together programmers a casual environment to share, collaborate,
            and hack together.
            <p>
                Weekly online meetings Saturdays 10:30am PST on <a href={DISCORD_INVITE_LINK}>Discord</a>
            </p>

            <p>
                In-person meetups at least once a month around Long Beach, <a href={MEETUP_PAGE_LINK}>Meetup.com</a>
            </p>
    </HeroText>
</HomePage>