---
import SubPage from "../../layouts/SubPage.astro";

const { title } = Astro.props;
import { getCollection, getEntryBySlug } from "astro:content";

export async function getStaticPaths() {
    const allMembers = await getCollection("news");
    const paths = allMembers.map((member) => ({
        params: { slug: member.slug },
    }));
    return paths;
}

const { slug } = Astro.params;
const member = await getEntryBySlug('news', slug || '');

---

<SubPage title={member?.data.title}>
    { member && (
            <div class="card-content">
                <h2 class="title is-2">{member.data.title}</h2>
                {member.body}
            </div>)
    }
</SubPage>
