---
import SubPage from "../../layouts/SubPage.astro";

const { title } = Astro.props;
import { getCollection } from "astro:content";
const allMembers = await getCollection("news");
---

<SubPage title={title}>
    <h1 class="title is-1">Challenges</h1>
    <ul>
        {
            allMembers.map((member) => (
                <li>
                    <a href={`/news/${member.slug}`}>{member.data.title}</a>
                </li>
            ))
        }
    </ul>
</SubPage>
