---

const events = [1,2];
import EventListItem from './EventListItem.astro';
---
<div class="event-list">
    <h2>Upcoming Meetups</h2>
    { events.map(event => (
        <EventListItem 
            month="May"
            day="12"
            />
    ))
    }
</div>

<style lang="scss">
    .event-list {
        display: flex;
        gap: 2ch;
        flex-direction: column;
    }
</style>