---

const { month, day } = Astro.props;

---

<div class="event-list-item">
    <div class="date-box event-info">
        <div class="month">{ month }</div>
        <div class="day">{ day }</div>
        <h3>Code And Coffee Online!</h3>
    </div>
    <div class="event-buttons">
        <a href="https://meet.jit.si/codeandcoffee" class="button">RSVP on Meetup</a>
    </div>
</div>

<style lang="scss">
    
    .date-box {
        .date-box {
            border-radius: 5px;
            border: 1px solid #333;
            padding: 1ch;
            background: red;
        }

        .month, .day {
            display: inline-block;
        }

        .month {
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .day {
            font-weight: normal;
            font-weight: 300;
        }
    }

    .event-list-item {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1ch;
    }

    .event-info {
        
        h3 {
            padding: 0;
            margin: 0;
        }
    }
</style>