---
---

<div class="event-wrapper">
    <h3>Event</h3>

    <div class="events-cta">
        <div class="events-cta-item"></div>
        <div class="events-cta-item"></div>
        <div class="events-cta-item"></div>
    </div>
</div>

<style lang="scss">
    .events-cta {
        display: flex;
        margin-right: calc(100% - widthOfelement);
        width: 100%;
    }
    h3 {
        width: 100%;
        text-align: center;
    }
    .events-cta-item {
        flex: 1;
        height: 200px;
        margin: 10px;
        background: red;
    }
</style>
