---

---
<footer class="footer">
  <div class="content has-text-centered">
    <ul>
      <li><a href="/code-of-conduct">Conduct of Conduct</a></li>
      <li><a href="https://github.com/codeandcoffeelb" target="_blank">Github</a></li>
    </ul>
  </div>
</footer>

<style>
  .footer {
    border-top: 10px rgba(217, 139, 21, 0.3) solid;
    max-width: 600px;
    margin: auto;
    min-height: 300px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 2ch 0 0 0;
    a {
      color: inherit;
    }
  }
</style>