---

---
<div class="big-button-holder">
    <slot />    
</div>

<style>
    .big-button-holder {
        display: flex;
        flex-direction: row;
        gap: 1ch;

        justify-content: center;
    }


    @media (max-width: 750px) {
        .big-button-holder  {
            margin: 2ch 1ch;
            flex-direction: column;
        }
    }
</style>