---

---
<div class="big-button-holder">
    <slot />    
</div>

<style>
    .big-button-holder {
        display: flex;
        flex-direction: column;
        height: 75px;
        gap: 10px;

        justify-content: center;
    }
</style>