---

---

<div class="hero-text">
    <slot />
</div>

<style>
    .hero-text {
        line-height: 1.7em;
        font-size: 1.3em;
        margin: 1ch 0;
    }

    @media (min-width: 468px) {
        .hero-text {
            margin: 2ch 1ch;
        }
    }
</style>