---
type ButtonKind = "meetup" | "discord";


export type Props = {
    type: ButtonKind
    url: string
};
const {type: buttonType, url} = Astro.props as Props;

const className = 'big-button' + (' ' + (buttonType || ''));
---

<a href={url} class={className} target="_blank">
    <slot />
</a>

<style>
    .big-button {
        width: 100%;
        padding: .5em 1ch;
        border:0;

        font-weight: bold;
        font-size: 1.3em;

        color: #fff;
        background: #444;
        border-radius: 5px;

        cursor: pointer;
        font-family: inherit;

        text-align: center;

        text-decoration: none;
    }


    .meetup {
        background: rgb(180, 41, 41);
        
        &:hover {
            background: rgb(147, 29, 29);
        }
    }

    .discord {
        background: rgb(97, 39, 169);

        &:hover {
            background: rgb(83, 27, 166);
        }
    }
</style>
