---
type ButtonKind = "meetup" | "discord";

const buttonType: ButtonKind = Astro.props.type;
const className = 'big-button' + (' ' + (buttonType || ''));

export type Props = {
    type: ButtonKind
};
---

<button class={className}>
    <slot />
</button>

<style>
    .big-button {
        width: 100%;
        padding: .5em 1ch;
        border:0;

        font-weight: bold;
        font-size: 1.3em;

        color: #fff;
        background: #444;
        border-radius: 5px;

        cursor: pointer;
        font-family: inherit;
    }

    .big-button:hover {
        background: #777;
    }

    .meetup {
        background: rgb(180, 41, 41);
    }

    .discord {
        background: rgb(97, 39, 169);
    }
</style>
