---
import Brand from "../components/Brand.astro";

---

<nav
  class="navbar is-transparent center"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      { false  ? <Brand /> : '' } 
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <a class="navbar-item" href="/about"> about</a>
        <a class="navbar-item" href="/news"> news</a>
        <a class="navbar-item" href="/code-of-conduct"> conduct</a>
      </div>
    </div>
  </div>
</nav>
