---
import Brand from "../components/Brand.astro";

---

<nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
>
  <!-- <div>
    <h1 class="logo">
      <a href="/">code+coffee</a>
    </h1>
  </div> -->
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/news">news</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/code-of-conduct">conduct</a></li>
  </ul>
</nav>

<style>
  .navbar {
    min-height: 3ch;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2ch 0;
  }

  .navbar ul {
    display: flex;
    gap: 1ch;

    padding:0;
    margin: 0;
  }

  .navbar ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #222;
    padding: 1ch 2ch;
  }
  
  .navbar ul li:hover a {
    background: #222;
    color: #fff;
  }
</style>
