---
const { news } = Astro.props;
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
---

<div class="news-list">
    <h2>News</h2>
    {
        news.map((item) => {
            const {
                data, 
                slug
            } = item;
            const formattedPublishDate = new Date(data.date).toLocaleDateString("en-US", dateOptions);

            return (
                <div class="news-item">
                    <h3>
                        <a href=`/news/${ slug }`>{ data.title }</a>
                    </h3>
                    <span>
                        { formattedPublishDate }
                    </span>
                </div>
            )
        })
    }
</div>

<style>
    .news-list {
        line-height: 1.7em;
        font-size: 1.3em;
        margin: 1ch 0;
    }
    .news-item {
        margin-bottom: 1em;

        h3 {
            margin: 0;
            padding: 0;
        }
        a {
            color: inherit;
        }
    }
</style>