---
---
<div class="two-columns">
    <div class="left">
        <slot name="left" />
    </div>
    <div class="right">
        <slot name="right" />
    </div>
</div>

<style>    
    .two-columns {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10ch;
    }

    @media screen and (max-width: 999px) {
        .two-columns {
            grid-template-columns: 1fr;
            gap: 1ch;
        }
        .left, .right {
            padding: 2ch;
        }
    }
</style>