---
import Layout from './Layout.astro';
import HomeHero from '../components/HomeHero.astro';
import TwoColumns from '../components/TwoColumns.astro';
import EventList from '../components/EventList.astro'
import EventDescription from '../components/EventDescription.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
	<div class="wrapper">

		<HomeHero>
			<slot />
		</HomeHero>
	</div>
</Layout>

<style lang="scss">
	.wrapper {
		max-width: 600px;
		margin: 0 auto;
	}
</style>