<nav class="navbar is-transparent center" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start"></div>
    <div class="navbar-end">
      <a class="navbar-item" href="/about">
        about
      </a>

      <a class="navbar-item" href="/members">
        members
      </a>


      <a class="navbar-item" href="/challenges">
        challenges
      </a>

    <a class="navbar-item" href="/news">
        news
      </a>

      <a class="navbar-item" href="/code-of-conduct">
        conduct
      </a>

    </div>
  </div>
  </div>
</nav>